/* Reset */
@import url(../reset.css);
@import url(../utilitarios/layout.css);


.grid-template-areas-1 {
  grid-template-areas:
    "a b b "
    "c d e "
    "c f f ";
}

.logo {
  grid-area: a;
}

.nav {
  grid-area: b;
}

.sidenav {
  grid-area: c;
}

.content {
  grid-area: d;
}

.advert {
  grid-area: e;
}

.footer {
  grid-area: f;
}

.grid-template-areas-2 {
  grid-template-areas:
    "c a b"
    "c d e"
    "c d f";
}

@media (max-width: 500px) {
  .grid-template-areas-2 {
    grid-template-areas:
      "a a a"
      "b b b"
      "c c c"
      "d d d"
      "e f f";
  }
}
