/* Reset */
@import url(../reset.css);
@import url(../utilitarios/layout.css);

.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: 100px 100px 100px;
}

.start {
  justify-content: start;
}


.end {
  justify-content: end;
}

.box {
  width: 800px;
}