/* ReSET */
@import url(./reset.css);


.container-conteudo {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: fit-content;
}

