/* ReSET */
@import url(./reset.css);

.container-conteudo {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-width: fit-content;
}

.container-conteudo button {
  font-size: 2rem;
  background-color: hsl(0, 2%, 10%);
  border: 1px solid rgb(71, 71, 71);
  border-radius: 4px;
}

.container-conteudo button:hover {
  background-color: hsl(0, 0%, 0%);
}

.container-conteudo button a {
  color: rgb(255, 255, 255);
}

.container-conteudo button a:hover {
  color: hsl(192, 100%, 50%);
}

.container-conteudo span {
  color: hsl(192, 100%, 50%);
}
