/* layout */
body {
  font-family: "Poppins", sans-serif;
  background-color: #000000;
  color: #ffffff;
}

body > div:nth-of-type(even) {
  background: rgba(148, 147, 147, 0.03);
}

.grid {
  border: 1px solid #ffffff;
}

.item {
  background: tomato;
}
