/* Link */
.div-link {
  display: flex;
  justify-content: center;
  text-align: center;
  justify-items: center;
}

.link {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}

.animation {
  position: relative;
  text-decoration: none;
  color: #000; /* Cor do link */
}

.animation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: #000; /* Cor da borda */
  transition: width 0.3s ease-in-out;
}

.animation:hover::after {
  width: 100%;
}

/* Button */

.button {
  background-color: #6200ea;
  color: white;
  padding: 15px;

  font-size: 1.9rem;
  text-align: center;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #3700b3;
}

.button a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.button span {
  margin: 0 5px;
  font-weight: 700;
}
