* {
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a {
  margin-left: 40px;
  font-size: 44px;
  text-decoration: none; /* Remove sublinha */
  color: #3498db; /* Define a cor azul */
  font-weight: bold; /* Torna o texto em negrito */
  transition: color 0.3s ease; /* Transição suave da cor */
}

a:hover {
  color: #2ecc71; /* Altera a cor para verde ao passar o mouse */
}

.menu {
  display: flex;
  justify-content: center;
}
